Example's of For loop

In [1]:
#print 1  to 25 numbers using for loop
for i in range (1,26):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25

In [2]:
#print all even numbers from 1 to 25
for i in range(0,25,2):
    print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24

In [3]:
#print all odd numbers from 1 to 25
for i in range(1, 25,2):
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23

In [4]:
#program for asking to enter the user specified input(to get odd numbers only)
starting_num=int(input("enter number you want to start:---"))
ending_num=int(input('enter number you want to stop:----'))
for num in range(starting_num,ending_num+1):
    if num %2==1:
        print(num, end =" ")

enter number you want to start:---12
enter number you want to stop:----60
13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59

In [5]:
#program for asking to enter the user specified input (to get even numbers only)
starting_num=int(input("enter number you want to start:---"))
ending_num=int(input('enter number you want to stop:----'))
for num in range(starting_num,ending_num+1):
    if num %2==0:
        print(num, end =" ")

enter number you want to start:---12
enter number you want to stop:----60
12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60

###### creating and Using the functions

In [6]:
#compare the two numbers, and print the big number as output by using functions.
def compare(a,b):
    if(a>b):
        greater=a
    else:
        greater=b
    
    return greater

In [7]:
compare(30,40)

40

In [8]:
def odd(a):
    if a%2==0:
        a="not odd"
    else:
        a='odd'
    return a

In [9]:
odd(11)

'odd'

###### About lists operations

In [10]:
#what is the list
list1=['509','08','40','yogesh','2nd class','ac coach']
print(list1)
#list's can store different types of data

['509', '08', '40', 'yogesh', '2nd class', 'ac coach']

In [11]:
#sub-setting lists:- lists can be accessed by with help of index numbers. list index's are strating from zero
list2=['anaconda','jupiter_notebook','pycharm',3.8,509,60]
print(list2[1])
print(list2[0:5:2])
print(list2[-1])

jupiter_notebook
['anaconda', 'pycharm', 509]
60

list's can be accessed in two ways positive_indexing([0:5:2]) and negitive_indexing also([-1]). the [-1] displays last value in the list.
in above [0:5:2] means index starts with '0' and it will gives result upto 5 index's,but not includes 5(it means it displays index values 0,1,2,3,4,) 
(continues above line)and '2' indicates, it can skip two index's

In [12]:
#Adding elements to the existing lists.
#Adding elements to the existing list is done by using Append()
list2.append('Jai_modula_machine')
print(list2) #prints list 
#deleting one element from the list
list2.remove('pycharm')
list2 #it is used insted of print
#Adding multiple elements or adding another list to current list
list2.extend(['it'])
list2 #it is used insted of print
list2.append(['drill_machine','cutting_machine','screw_machine','hammer_machine','router_machine'])
list2 #it is used insted of print
del list2[6] #delete's element at 6th index
list2 #it is used insted of print

['anaconda', 'jupiter_notebook', 'pycharm', 3.8, 509, 60, 'Jai_modula_machine']

['anaconda',
 'jupiter_notebook',
 3.8,
 509,
 60,
 'Jai_modula_machine',
 ['drill_machine',
  'cutting_machine',
  'screw_machine',
  'hammer_machine',
  'router_machine']]

###### Looping with lists

In [13]:
for i in list2: #in the loop 'list2' indicates the list name and it is act as the 'range' object
    print(i)

anaconda
jupiter_notebook
3.8
509
60
Jai_modula_machine
['drill_machine', 'cutting_machine', 'screw_machine', 'hammer_machine', 'router_machine']

##### looping with lists example 2

In [14]:
lst=[1,2,3,4,5,6,7,8,9,10]
for i in lst: #print all values in the list
    print(i)
for lst1 in lst:
    print(lst1+1) #it will perform all the arthimatic operations like addition(list_name+num),substraction(list_name-num),
    #multiplicatio(list_name*num),and division(list_name%num) operations

1
2
3
4
5
6
7
8
9
10
2
3
4
5
6
7
8
9
10
11

###### About dictionary's 
Dictionaries can have two elements 'key:value'. every element in the list can be accessed with help key value only

Year wise marks of btech students(total 4 year's mark) are represented in dictinary respectively.

In [15]:
marks={'venkat':[700,830,600,740],'karun':[610,589,430,614],'vinay':[478,577,596,657],'sowmya':[500,632,497,706]}
#print(marks)
marks['venkat']# based on the key value, we can access the data from the directory

[700, 830, 600, 740]

In [16]:
marks['venkat']# based on the key value, we can access the data from the directory

[700, 830, 600, 740]

In [17]:
marks['mani']=[389,205,177,450] #this statement will add the single value(in the example it is list) to the dictionary with the help of key value
marks

{'venkat': [700, 830, 600, 740],
 'karun': [610, 589, 430, 614],
 'vinay': [478, 577, 596, 657],
 'sowmya': [500, 632, 497, 706],
 'mani': [389, 205, 177, 450]}

In [18]:
#Adding multiple values/data at a time
marks.update({'yashwanth':[350,288,109,245],'prasanna_kumar':[90,120,150,60],'mohith':[200,322,391,188]})
marks

{'venkat': [700, 830, 600, 740],
 'karun': [610, 589, 430, 614],
 'vinay': [478, 577, 596, 657],
 'sowmya': [500, 632, 497, 706],
 'mani': [389, 205, 177, 450],
 'yashwanth': [350, 288, 109, 245],
 'prasanna_kumar': [90, 120, 150, 60],
 'mohith': [200, 322, 391, 188]}

In [19]:
#adding single data to the dictionary
marks['prasanna_kumar']=[90,120,150,60]
marks

{'venkat': [700, 830, 600, 740],
 'karun': [610, 589, 430, 614],
 'vinay': [478, 577, 596, 657],
 'sowmya': [500, 632, 497, 706],
 'mani': [389, 205, 177, 450],
 'yashwanth': [350, 288, 109, 245],
 'prasanna_kumar': [90, 120, 150, 60],
 'mohith': [200, 322, 391, 188]}

In [20]:
#deleting one data from dictionary
del marks['prasanna_kumar']
marks

{'venkat': [700, 830, 600, 740],
 'karun': [610, 589, 430, 614],
 'vinay': [478, 577, 596, 657],
 'sowmya': [500, 632, 497, 706],
 'mani': [389, 205, 177, 450],
 'yashwanth': [350, 288, 109, 245],
 'mohith': [200, 322, 391, 188]}

In [21]:
# creating a list consisting of first 5 even numbers and print the list
my_list = [2,4,6,8,10]
print(my_list)
my_list[2]

[2, 4, 6, 8, 10]

6

In [22]:
# given below is a dictionary having 4 unique keys, i.e., 'name', 'age', 'gender', 'is_employed'
my_dict = {'Name':'Smith',
           'Age':34,
           'Gender': 'Male',
           'Is_employed': False}

# print 'my_dict'
print(my_dict)
my_dict['Name']

{'Name': 'Smith', 'Age': 34, 'Gender': 'Male', 'Is_employed': False}

'Smith'

In [23]:
# update 'is_employed' key to True
my_dict.update({'is_employed': True})

# print the updated dictionary
print(my_dict)

{'Name': 'Smith', 'Age': 34, 'Gender': 'Male', 'Is_employed': False, 'is_employed': True}

In [24]:
# import required libraries
import pandas as pd
import numpy as np

In [25]:
#read the .csv file using pandas
mydata = pd.read_csv(r"C:\Users\myoge\data1.csv")

In [26]:
#print the number of rows and number of columns of mydata
mydata.shape

(9, 10)

In [27]:
#assign a variable 'target' with the 'Loan_Status' feature from mydata dataframe
target = mydata['Nunavut']

In [28]:
#print the datatype of ApplicantIncome feature
print(mydata['Nunavut'].dtypes)

object

In [29]:
#print 4th to 8th rows of mydata
mydata.iloc[4:8]

,1,"Eldon Base for stackable storage shelf, platinum",Muhammed MacIntyre,3,-213.25,38.94,35,Nunavut,Storage & Organization,0.8
4,6,G.E. Longer-Life Indoor Recessed Floodlight Bulbs,Carlos Soltero,515,4.43,6.64,4.95,Nunavut,Office Furnishings,0.37
5,7,"Angle-D Binders with Locking Rings, Label Holders",Carl Jackson,613,-54.04,7.30,7.72,Nunavut,Binders and Binder Accessories,0.38
6,8,"SAFCO Mobile Desk Side File, Wire Frame",Carl Jackson,613,127.70,42.76,6.22,Nunavut,Storage & Organization,NaN
7,9,"SAFCO Commercial Wire Shelving, Black",Monica Federle,643,-695.26,138.14,35.00,Nunavut,Storage & Organization,NaN